<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looking For?</title>
    <link rel="stylesheet" href="/css/choice.css">
</head>
<body>
    <div class="rickshaw">
        <img src="/images/looking.png" alt="man-on-rickshaw">
    </div>
    <div class="blur">
        <img src="/images/search.png" alt="boy">
        <h2>ARE YOU LOOKING FOR</h2>
        <ul>
            <li>
                <button onclick="window.location.href='/workers-form'">WORK</button>
            </li>
            <li><p>OR</p></li>
            <li>
                <button onclick="window.location.href='/workers-list'">WORKERS</button>
            </li>
        </ul>
    </div>
    <div class="logo">
        <img src="/images/image-removebg-preview.png" alt="logo">
    </div>
</body>
</html>
