<%- include('partials/header') %>


<span class="design">
    <img src="/images/Ellipse 1.png" alt="design">
</span>
<span class="truck">
    <img src="/images/Leonardo_Phoenix_i_need_an_image_of_labours_loading_the_truck_3_1_-removebg-preview.png" alt="truck">
</span>
<span class="girl">
    <img src="/images/mechanic girl.png" alt="mechanic girl">
</span>

<div class="container">
    <div class="discover"><h1>DISCOVER YOUR NEXT STEP</h1></div>
    <div class="with-us"><h1>WITH US</h1></div>
</div>
<span>
    <br>
    <br>
    <hr>
    <br>
    <br>
</span>
<p>Find skilled talent to elevate your business,
    <br>
    <span class="line">or discover reliable jobs that reward your commitment.</span>
</p>

<a href="/choice" id="choice"> <button class="button">Get Started</button></a>

<!-- Set the isLoggedIn variable and include the external script -->
<script>
    window.isLoggedIn = locals.user ? 'true' : 'false' ;
</script>
<script src="/js/checkLogin.js"></script>
