*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    overflow: hidden;
    color: #F7EEF1;
    background-color: #F7EEF1;
}

.elipse img{

    height: 300px;
    width: 1290px;
}
.box{
    position: absolute;
    height: 320px;
    width: 900px;
    background-color: white;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);  ;
    margin-top: -150px;
    margin-left: 170px;
    border-radius: 35px;

}
.left-drop {
    /* Adjust the layout of the dropdown container */
    margin: 100px 60px; /* Add some margin if needed */
    margin-left: 100px;
}

.left-drop select , .right-drop select {
    width: 280px;  /* Set the desired width */
    height: 36px;  /* Set the desired height */
    font-size: 16px; /* Adjust font size for readability */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 5px; /* Rounded corners */
}

.right-drop {
    /* Adjust the layout of the dropdown container */
    margin-left: 500px; /* Add some margin if needed */
    margin-top: -135px;
}

.button{
    position: absolute;
    padding: 22px 39px; 
    top: 290px;
    left: 42.0%;
    background-color: #E25F98;
    border: none;
    color: white;
    border-radius: 30px;
    transition: background 0.1 ease; 

}
.button:hover {
    background: linear-gradient(180deg, #E25F98, #ECB882); /* Gradient colors */
}